# ROM et derives, ne jamais committer
*.nds
*.7z
*.zip
*.sav
*.srm
*.dsv
*.xdelta
4171*/

# Depots tiers, clones separement
vendor/

# Python
venv/
__pycache__/
*.pyc

# BizHawk
bizhawk-*/

# Dumps de RAM, volumineux et regenerables
dumps/
*.bin

# Seeds generees
seeds/*.zip
seeds/*.archipelago
seeds/*.apsave
